# Виртуальное окружение
.venv/
venv/
env/

# Файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Переменные окружения
.env

# Базы данных (SQLite)
*.sqlite3
db.sqlite3
db_local_test.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Статика и медиа (если собираешь локально)
staticfiles/
media/
